
p.speech{
    font-size: medium;
    color:black;
}
.direction{
    color:black;
    font-size: larger;
    background-color: lightgreen;
    
}
.direction:hover{
    color:black;
    background-color: lightblue;
}
.peterStockmann{
    color:purple;

}
.MrsStockmann{
    color:red;

}
table, th, td {
    border: 1px solid;
    color:darkblue;
    text-align:center;
    padding:1cqmax;
    margin:1cqmax;
}

tr:nth-child(odd) {
background-color:lightgray;
 }
 tr:nth-child(even){
    background-color:lightcyan;
 }
h6:hover{
    background-color:yellow;
    text-shadow: 2px 2px 2px;
    border:2px solid;
    color:black;
    
}
table{
    border: solid 3px;
    border-collapse: collapse;}


    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color:gray;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: orange;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      
      li a:hover {
        background-color:green;
      }
      
 
