
p.speech{
    font-size: medium;
    color:black;
}
.direction{
    font-size: larger;
    background-color: lightgreen;
    
}
.direction:hover{
    color:black;
    background-color: lightblue;
}
.peterStockmann{
    color:purple;

}
.MrsStockmann{
    color:red;

}
table, th, td {
    border: 1px solid;
    color:darkblue;
    text-align:center;
    padding:1cqmax;
    margin:1cqmax;
}

tr:nth-child(odd) {
background-color:yellowgreen;
 }
